@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&family=Poppins:wght@700&display=swap');

:root {
  /*--------------Colors-----*/

  --blue-menu: hsl(200, 100%, 62%);
  --soft-red: hsl(7, 92%, 91%);
  --yellow-color: hsl(52, 91%, 83%);
  --graphic-design-text-color: hsl(167, 40%, 24%);
  --photography-text-color: hsl(198, 62%, 26%);
  --footer-color: hsl(168, 47%, 66%);
  --logo-footer-color: hsl(169, 37%, 34%);

  /*--------------Neutral Colors-----*/

  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --min-red: hsl(9, 100%, 97%);
  --white-dark: hsl(26, 100%, 99%);
  --white-color: hsl(0, 0%, 100%);
}

/*--------------HEADER-----*/

#header {
  background-image: url('/images/mobile/image-header.jpg');
  background-size: cover;
  background-position: center;

  max-width: 100%;
  min-height: 600px;
}

.header-container {
  display: flex;
  padding: 1rem 1.5rem;
}

.logo {
  font: 700 1.5rem 'Poppins', sans-serif;
  color: var(--white-color);
}

.menu {
  display: none;
}

.open-menu {
  margin-top: 0.6rem;
  margin-left: auto;
}

.open {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  background-color: #fff;
  padding: 3rem;
  margin-top: 3rem;
  right: 1.5rem;
  max-width: 300px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);

  border-top: 30px solid var(--blue-menu);
  border-right: 20px solid transparent;
}

.menu-opt {
  position: relative;
  font: 600 1.3rem 'Barlow', sans-serif;
  color: var(--dark-grayish-blue);
}

.menu-opt:hover {
  color: var(--blue-menu);
}

.menu-opt::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -3px;
  background-color: var(--blue-menu);
  left: 0;

  transition: 0.2s;
}

.menu-opt:hover::after {
  width: 100%;
}

.contact-button {
  padding: 1rem 2rem;
  background-color: #fad701;
  border-radius: 50px;
  margin-top: 1rem;

  font: 900 1rem 'Fraunces', sans-serif;
  text-transform: uppercase;
  color: #000;
}
.contact-button:hover {
  background-color: var(--blue-menu);
  color: #fff;
  transition: 5ms;
}

.initial {
  margin-top: 5rem;
  text-align: center;
}

.initial h1 {
  font: 900 2.3rem 'Fraunces', sans-serif;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 3rem;
}

.initial img {
  margin-bottom: 8rem;
}

/*--------------SERVICES-----*/

#services {
  max-width: 100%;
  background-color: var(--min-red);
}

.image img {
  width: 100%;
  height: 100%;
}

.detail {
  padding: 4rem 2.5rem;
  text-align: center;
}

.detail strong {
  font: 900 2rem 'Fraunces', sans-serif;
  margin-bottom: 1.5rem;
}

.detail p {
  font: 600 1.125rem 'Barlow';
  margin-bottom: 1.9rem;
  line-height: 2rem;
  color: var(--dark-grayish-blue);
}

.button {
  font: 900 1rem 'Fraunces', sans-serif;
  text-transform: uppercase;
  color: #242323;
  position: relative;
  z-index: 0;
}

.button::before {
  content: '';
  background-color: var(--yellow-color);
  position: absolute;
  width: 140px;
  height: 0.7rem;
  top: 70%;
  left: -12px;
  z-index: -1;
  border-radius: 999px;
}

.red-color::before {
  background-color: var(--soft-red);
}

/*--------------PROJECTS-----*/

.design {
  background-image: url(./images/mobile/image-graphic-design.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 28rem;
  padding-bottom: 3rem;
}

.details {
  text-align: center;
}

.details strong {
  font: 900 2rem 'Fraunces', sans-serif;
  color: var(--very-dark-grayish-blue);
}

.details p {
  font: 600 1.1rem 'Barlow';
  margin: 2rem 1.5rem;
  line-height: 2rem;
  color: var(--very-dark-grayish-blue);
}

.photo {
  background-image: url(/images/mobile/image-photography.jpg);
  background-size: cover;
  background-position: center;

  padding-top: 28rem;
  padding-bottom: 3rem;
}

/*--------------TESTIMONIALS-----*/

#testimonials {
  max-width: 100%;
  background-color: var(--min-red);
  text-align: center;
  padding: 1rem;
}

.title {
  font: 900 1rem 'Fraunces', sans-serif;
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 4rem 0;
}

blockquote {
  margin-bottom: 3.5rem;
}

.client-testimonials figure {
  margin-bottom: 2rem;
}

.client-testimonials img {
  border-radius: 50%;
  width: 75px;
}

.client-testimonials p {
  font: 600 1.1rem 'Barlow';
  margin: 2rem;
  line-height: 2rem;
  color: var(--very-dark-grayish-blue);
}

.cite cite {
  font: 900 1.2rem 'Fraunces', sans-serif;
  margin-bottom: 0.5rem;
}

.client-testimonials .cite p {
  margin: 0;
  font: 600 1rem 'Barlow', sans-serif;
  color: var(--grayish-blue);
}

.end-page {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.end-page img {
  width: 50%;
}

#contact {
  background-color: var(--footer-color);
  padding: 5rem 3rem;
  text-align: center;
}

.logo-footer {
  font-size: 2.5rem;
  color: var(--logo-footer-color);
  margin-bottom: 2rem;
}

.buttons {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
}

.buttons a {
  font: 600 1.1rem 'Barlow', sans-serif;
  color: var(--logo-footer-color);
  margin-right: 30px;
  margin-left: 30px;
}

.buttons a:hover {
  transition: 0.3s;
  color: #fff;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.icons a {
  padding: 0.5rem;
  margin-right: 20px;
  margin-left: 20px;
}

.icons a:hover {
  transform: translateY(-8px);
  transition: 0.5s;
}

.show {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--footer-color);
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.back-to-top img {
  width: 100%;
}

@media (min-width: 700px) {
  #header {
    background-image: url('/images/desktop/image-header.jpg');
    background-position: bottom;
    min-height: 900px;
  }

  .open-menu {
    display: none;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  .menu {
    display: flex;
  }

  .menu-opt {
    margin-right: 30px;
    color: #fff;
  }

  .menu-opt:hover {
    color: #fad701;
  }

  .menu-opt::after {
    background-color: #fad701;
  }

  .contact-button {
    background-color: #fff;
  }

  .contact-button:hover {
    background-color: #fad701;
  }

  .design {
    background-image: url(./images/desktop/image-graphic-design.jpg);
  }
  .photo {
    background-image: url(/images/desktop/image-photography.jpg);
  }
}

@media (min-width: 1000px) {
  .initial h1 {
    font-size: 4rem;
    letter-spacing: 10px;
    margin-bottom: 5rem;
  }

  .service-1 {
    display: flex;
    width: 100%;
  }

  .service-1 .image {
    min-width: 50%;
  }

  .service-1 .detail {
    order: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    padding: 0 5rem;
    text-align: left;
  }

  .service-2 {
    display: flex;
  }

  .service-2 .image {
    min-width: 50%;
    min-height: 100%;
  }

  .service-2 .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    padding: 0 5rem;
    text-align: left;
  }

  .projects-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .design {
    max-width: 50%;
  }

  .photo {
    min-width: 50%;
  }

  .details {
    width: 50%;
    margin: 0 auto;
  }

  .client-testimonials {
    display: flex;
    padding: 3rem 0;
  }

  .end-page {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .end-page img {
    width: 25%;
  }
}
